/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header Styles */
.header {
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.hamburger {
  display: none;
  border: none;
  background-color: transparent;
}

.hamburger__line {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: background-color ease-in-out .3s;
  }

  .hamburger:hover {
    background-color: rgba(0, 0, 0, .1);
  }

  .hamburger:focus {
    outline: none;
  }

  .nav__list {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: -20px;
    width: calc(100% + 40px);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .1) .1rem .2rem .3rem;
  }

  .nav__list li {
    width: 100%;
    margin-bottom: .5rem;
  }

  .nav__list a {
    display: block;
    padding: .5rem;
    transition: background-color ease-in-out .3s;
  }

  .nav__list a:hover {
    background-color: rgba(0, 0, 0, .1);
  }

  .nav__item {
    width: calc(100% / 4);
    text-align: center;
  }

  .nav__item:last-child {
    margin-left: auto;
  }

  .nav__item a {
    display: block;
  }

  .nav__item:hover > a,
  .nav__item.active > a {
    color: #000;
  }

  .nav__item:hover > .nav__list,
  .nav__item.active > .nav__list {
    display: block;
  }

  .nav__item.active .nav__list > li > a:hover {
    background-color: #f5f5f5;
  }

  .nav__item.active .nav__list > li:last-child > a {
    border-radius: 0px 0px calc(.3rem -1) calc(.3rem -1);
  }

  .nav__item.active .nav__list > li:first-child > a {
    border-radius: calc(.3rem -1) calc(.3rem -1) 0px 0px;
  }

  .nav__item.active .nav__list > li:not(:first-child):not(:last-child) > a {
    border-radius: none;
  }

  .nav__item.active .nav__list > li:not(:first-child):not(:last-child) > a:hover {
    background-color: none;
  }
}

/* Hero Styles */
.hero {
  background-image: url('hero.jpg');
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 70px);
}

.hero__title {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
}

.hero__subtitle {
  font-size: 24px;
}

/* Rest of the CSS code... */
